body {
    text-align: center; 
    background-color: cyan;
}

.rop {
    display: block;
    margin: auto;
    width: 1000px;
}

.hvl {
    display: block;
    margin: auto;
    width: 1000px;
}

.vov {
    color: red;
    font-size: 50px;
}

.lll {
    display: block;
    margin: auto;
    width: 1000px;
}